<!DOCTYPE html>
<html lang='en-us'>

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <!-- this is where the app component will be rendered into -->
    <div id="root"></div>
</body>

</html>
